/* clase oculta */
.hide{
    display: none;
}



/* Inicio */

.alura{
    margin-top: 3rem;
    margin-left: 1.5rem;
    position: relative;
}

.firm{
    display: inline-flex;
    margin-left: 50px;

}


.title{
    font-size: 22px;
    color: #143781;
    display: inline;
    vertical-align: top;
    
}

.subtitle{
    color: #1b4cb6;
    display: inline-flex;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
    font-style: italic;

}

.inicio{
   
    margin-top: 15%;
}

.btn{
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 269px;
    height: 66px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    color: #0A3871;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 24px;
    border-color:  #0A3871;;
    
}

.btn:hover{
    background-color: #0A3871;
    color: white;
    transform: scale(115%);
    transition: 0.5s;
}




/* Agregar palabras */

.subtitle-word-add{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 26px;
    color: #0A3871;
    margin-left: 3rem;
    margin-top: 3rem;
}



.form-elements{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 22px;
    color: #0A3871;;
}

#palabra{
    width: 400px;
    height: 50px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
    color: #0A3871;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 24px;
    border-color: #0A3871;
    
}

.error {
    background-color: lightsalmon;
    border: 5px lightcoral solid;
    color: red;
    font-weight: bolder;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    width: 275px;
    padding: 0.5rem;
}

.success{
    background-color: lightgreen;
    border: 2.5px rgba(47, 212, 47, 0.781) solid;
    color: rgb(20, 112, 20);
    font-weight: bolder;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    width: 275px;
    padding: 0.5rem;
}

/* juego */
.canvas{

    margin-bottom: 1%;
}

#horca{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}
.divent{
    display: flex;
    justify-content: center;
}
.entrada{
    width: 50px;
    height: 20px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-color: #0A3871;
    text-align: center;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 18px;
    color: #0A3871;
}



.txt-win{
    text-align: center; 
    color:rgb(18, 80, 46);
    background-color: #b0e2b0;
    padding: 1rem;
    border: 2px #10a810 solid;
    width: 200px;
    margin: 10px auto;
    
}

.txt-lost{
    text-align: center;
    color:red;
    background-color: lightsalmon;
    padding: 1rem;
    border: 2px lightcoral solid;
    width: 200px;
    margin: 10px auto;
}